.main {
  padding: 20px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 sản phẩm trên một hàng */
  gap: 20px;
}

.product-card {
  width: 200px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
  background-color: #fff;
  cursor: pointer;
}

.product-image {
  width: 100%;
  height: 150px; /* Đảm bảo các hình ảnh đồng nhất */
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 10px;
}

.product-name {
  font-size: 18px;
  margin: 10px 0;
}

.product-price {
  font-size: 16px;
  color: red;
  margin: 10px 0;
}

.product-price span {
  font-weight: bold;
}

.buy-button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buy-button:hover {
  background-color: #0056b3;
}

.load-more-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.load-more-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.load-more-button:hover {
  background-color: #0056b3;
}
