.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: left;
  }
  
  .login-container {
    background-color: #fff;
    padding: 40px;
    
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 300px;
  }
  
  .login-title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  .input-group label {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
  }
  
  .input-group input {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  .error-message {
    color: red;
    font-size: 12px;
  }
  
  .show-password {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Adjust margin as needed */
  }
  
  .show-password input {
    margin-right: 5px; /* Space between checkbox and label */
  }
  
  .login-btn {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    
  }
  
  .login-btn:hover {
    background-color: #45a049;
  }
  