/* Existing styles */
.account-container {
    display: flex;
    margin: 0;
    padding: 20px;
    height: 100vh;
    background-color: #f9f9f9;
    box-sizing: border-box;
  }
  
  .account-sidebar {
    width: 300px;
    background-color: #f0f2f5;
    padding: 20px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
  }
  
  .account-main {
    margin-left: 40px;
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  }
  
  .orders-list {
    list-style-type: none;
    padding: 0;
  }
  
  .orders-list li {
    background-color: #f8f8f8;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    margin-bottom: 15px;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .orders-list li:hover {
    background-color: #f0f0f0;
  }
  
  .orders-list li .details-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .orders-list li .details-button:hover {
    background-color: #45a049;
  }
  
  .pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .pagination button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .pagination button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  .pagination span {
    font-size: 16px;
    color: #333;
  }
  
  /* Styles for order items table */
  .order-items-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
  }
  
  .order-items-table th,
  .order-items-table td {
    border: 1px solid #e0e0e0;
    padding: 10px;
    text-align: left;
  }
  
  .order-items-table th {
    background-color: #f0f2f5;
  }
  
  .order-items-table tr:nth-child(even) {
    background-color: #f9f9f9; /* Alternate row color */
  }
  
  .order-items-table tr:hover {
    background-color: #f0f0f0; /* Highlight row on hover */
  }
  
  /* For better mobile responsiveness */
  @media (max-width: 768px) {
    .account-sidebar {
        width: 100%;
        height: auto;
        position: relative;
        margin-bottom: 20px;
    }
  
    .account-main {
        margin-left: 0;
        padding: 10px;
    }
  }
    /* Product grid */
    .grid {
        display: none;
        grid-template-columns: none;
        gap: 20px;
      }