@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    
}
:root {
    --primary-color: #ff7e01;
    --secondary-color: #faa935;
    --heading-color: #0b2727;
    --text-color: #6e7074;
    --font-name: "Montserrat", sans-serif;
    --subtitle-font-name: "Island Moments", cursive;
}
